@using LibraryManagementSystem.Web.ViewModels
@model PaginatedAuthorViewModel
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="table-primary">Full Name</th>
            <th scope="col" class="table-primary">Email</th>
            <th scope="col" class="table-primary">Website</th>
            <th scope="col" class="table-primary">Bio</th>
            <th scope="col" class="table-primary">Books</th>
            <th scope="col" class="table-primary">Edit</th>
            <th scope="col" class="table-primary">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors)
        {
            <tr scope="row">
                <td>@author.FullName</td>
                <td>@author.Email</td>
                <td>@author.Website</td>
                <td>@author.Bio</td>
                <td>
                    <select class="form-select">
                        @if (author.Books != null && author.Books.Any())
                        {
                            <option selected disabled>---Books---</option>
                            foreach (var book in author.Books)
                            {
                                <option>@book.Title</option>
                            }
                        }
                        else
                        {
                            <option selected disabled>No books</option>
                        }
                    </select>
                </td>
                <td>
                    <a type="button" class="btn btn-warning bi bi-pencil-fill" asp-area="" asp-controller="Author" asp-action="Edit" asp-route-id="@author.Id"> Edit </a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@author.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger bi bi-trash3-fill"> Delete </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <ul class="pagination">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" asp-action="" asp-route-pageNumber="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.pageSize">&laquo;</a>
        </li>

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                <a class="page-link" asp-action="" asp-route-pageNumber="@i" asp-route-pageSize="@Model.pageSize">@i</a>
            </li>
        }
        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link" asp-action="" asp-route-pageNumber="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.pageSize">&raquo;</a>
        </li>
    </ul>
</div>
